{% extends "public/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "join the team"|title %}{% endblock %}

{% block content %}
    <main>
            <div class="container-fluid">
            <div class="row">
                <div class="box cover wall-cover frik-team">
                    <div class="main-center">
                        <h2 class="">{% trans "careers"|title %}</h2>
                    </div>
                </div>
            </div>
        </div>   
        <section class="">
            <div class="container">
                <div class="row">
                    <div class="box media-contact" id="show">
                        <div class="col-xs-12 col-sm-6">
                            <div class="join">
                                <h2>Join the team</h2>
                                <p>{% trans "We are a fast-growing company, constantly searching for people like you, who are energetic, courageous and creative. Are you ready to roll up your sleeves? Click to apply and become apart of the team" %}</p>
                                <p>{% blocktrans %} Our chefs work hard to create dishes that honour the beautiful, fresh ingredients that they source. Our friendly, efficient and knowledgeable team make our guests feel right at home. Passion, friendliness and hospitality are what we search for in everyone in the Frikadell team.{% endblocktrans %}</p>
                                <a class="secondary-button" href="mailto:hr@frikadell.com?subject=Job Inquiry" title="">{% trans "APPLY NOW" %}</a>
                            </div>
                        </div>
                    
                        <div class="col-xs-12 col-sm-6">
                            <div class="join">
                                <h2>Frikadel Benefits:</h2>
                                <p>Are you ready to roll up your sleeves?</p>
                                {% blocktrans %}
                                <ul>
                                    <li>• Dental.</li>
                                    <li>• 401K.</li>
                                    <li>• Life Insurance.</li>
                                    <li>• Vacation.</li>
                                    <li>• Sabbatical Program.</li>
                                    <li>• Recognition Programs.</li>
                                </ul>
                                {% endblocktrans %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}