{% extends "public/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "frikadell freaks"|title %}{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="box cover wall-cover s4">
                    <div class="main-center">
                        <h2 class="">{% trans "frikadell freaks"|title %}</h2>
                    </div>
                </div>
            </div>
        </div>    
        <divx>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Do you speak Frikadell?</h1>
                            {% blocktrans %}
                            <h3>It all started as a joke, but it became our language ...</h3>
                            <strong>
                            <p class="language mt-2">
                            Let’s burger together – <span class="yellow">‘I like you. Let’s have a burger together’</span></p>
                            <p class="language">Burger together forever – <span class="yellow">‘I love you. Let’s eat burgers together forever’</span></p>
                            <p class="language">We burger for each other – <span class="yellow">‘we care for each other deeply’</span></p>
                            <p class="language">Don’t burger me – <span class="yellow">‘don’t bother me’</span></p>
                            {% endblocktrans %}
                            </strong>
                            <a href="mailto:burgertogether@frikadell.com" title="burgertogether" class="language secondary-button mt-2">{% blocktrans %}Submit translation{% endblocktrans %}</a>
                        </div>
                        <div class="col-sm-6">
                         <img src="{% static "public/img/4.jpg" %}">
                        </div>
                    </div>
                </div>
            </section>

            <div>
                <div class="container">
                    <hr>
                    <div class="row">  
                        <div class="col-xs-12">
                            <h1>Are you a Frikadell fan?</h1>
                            <p>{% blocktrans %}Our passion for great burgers is limitless, and we count on you to enrich our story. Want to be featured as a Frikadell Freak on our Instagram page? Submit a photo today and become a Frikadell Freak.{% endblocktrans %}</p>
                            <strong><p class="mt-1">{% blocktrans %}Join the Frikadell Freaks on Instagram with the <span class="yellow"><a href="https://www.instagram.com/explore/tags/burgertogether/" title="#burgertogether Instagram" target="_blank">#burgertogether</a></span> tag!{% endblocktrans %}</p></strong>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container padding-none mt-2">
                <div class="">
                    <div>
                        <img src="{% static "public/img/careers_hero.jpg" %}">
                    </div>
                </div>
                
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        $('p.language').hide(0);
        $("p.language").each(function(index) {
            $(this).delay(700*index).fadeIn(450);
        });

        $("#sd").click(function () {
            $('html, body').animate({
                scrollTop: $("#show").offset().top
            }, 500);
        });
    </script>
{% endblock %}