{% extends "public/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "home"|title %}{% endblock %}

{% block content %}
    <main>
        <div class="introduction">
            <div class="container-fluid">
                <div class="row">
                    <!-- Hero Image -->
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="box wall-cover s1">
                                <div class="main-center slogan">
                                    <strong id="tasty">{% blocktrans %}Tasty Burgers Made to Order{% endblocktrans %}</strong>
                                    <a href="{% url "public:story" %}" class="tertiary-button">{% blocktrans %}LEARN MORE{% endblocktrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>

        <!-- Our Story -->
        <section class="our-story">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-7 pull-right">
                        <div class="row">
                            <div class="paragraph">
                                <h1>{% blocktrans %}Our Story{% endblocktrans %}</h1>
                                <p>{% blocktrans %}We’re burger freaks, and we couldn’t find a good homemade burger ANYWHERE, one with a crunchy bun, our choice of sauces and prepared FAST. And worse, the ordering process was always a pain!{% endblocktrans %}</p>
                                <a href="{% url "public:story" %}" class="secondary-button">{% blocktrans %}Learn More{% endblocktrans %}</a>
                            </div>  
                        </div>
                    </div>              
                </div>
            </div>
        </section>
        
        <!-- Download App -->
        <section class="introduction background-yellow friadell-phone">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                            <div class="row">  
                                <div class="paragraph">
                                    <h1>{% blocktrans %}Let your fingers do the talking! {% endblocktrans %}</h1>  
                                    <p>{% blocktrans %}Our ordering system works with the Frikadell App, available in Frikadell locations and on your mobile device!{% endblocktrans %}</p>
                                    <a href="https://play.google.com/store/apps/details?id=io.noxel.customer" class="primary-button">{% blocktrans %}Android{% endblocktrans %}</a>
                                    <a href="{% url "public:story" %}" class="primary-button">{% blocktrans %}iOS{% endblocktrans %}</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>

        <!-- Video -->
        <section class="introduction background-white">
            <div class="container">
                
            
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                            <div class="row">  
                                <div class="paragraph">
                                    <h1>{% blocktrans %}How it works {% endblocktrans %}</h1>
                                    <p>{% blocktrans %}Our ordering system works with the Frikadell App, available in Frikadell locations and on your mobile device!{% endblocktrans %}</p>
                                    <p>{% blocktrans %}Our ordering system works with the Frikadell App, available in Frikadell locations and on your mobile device!{% endblocktrans %}</p>
                            </div>
                        </div>
                    </div> 
                    <div class="col-sm-12 col-md-5 pull-right">
                            <div class="row">
                                <div class="image-box">
                                     <video id="homevideo" width="100%" src="{% static 'public/video/english-video-frikadell.mp4' %}" loop muted controls preload>
                                        <source src="{% static 'public/video/english-video-frikadell.mp4' %}" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                                 </div>
                            </div>
                    </div>              
                </div>
            </div>
        </section>

        <!-- Frikadell-Team -->
        <section class="introduction frik-team">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                            <div class="row box--white">  
                                <h1>{% blocktrans %}We're Expanding{% endblocktrans %}</h1>  
                                <p>{% blocktrans %}We’re burger freaks, and we couldn’t find a good homemade burger ANYWHERE, one with a crunchy bun, our choice of sauces and prepared FAST.{% endblocktrans %}</p>
                                <a href="{% url "public:careers" %}" class="tertiary-button">{% blocktrans %}Employment{% endblocktrans %}</a>
                                <a href="{% url "public:contact" %}" class="tertiary-button">{% blocktrans %}Franchise{% endblocktrans %}</a>
                        </div>
                    </div>              
                   
                </div>
            </div>
        </section>
    </main>
{% endblock %}