{% extends "public/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "home"|title %}{% endblock %}

{% block content %}
    <main>
        <div class="introduction">
            <div class="container-fluid">
                <div class="row">
                    <!-- Hero Image -->
                    <div class="col-sm-12 col-md-12">
                        <div class="row">
                            <div class="box wall-cover s1">
                                <div class="main-center slogan">
                                    <strong id="tasty">{% blocktrans %}Tasty Burgers Made to Order{% endblocktrans %}</strong>
                                    <a href="{% url "public:story" %}" class="tertiary-button">{% blocktrans %}LEARN MORE{% endblocktrans %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Our Story -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <div class="paragraph">
                            <h1>{% blocktrans %}Our Story{% endblocktrans %}</h1>
                            <p>{% blocktrans %}We’re burger freaks, and we couldn’t find a good homemade burger ANYWHERE, one with a crunchy bun, our choice of sauces and prepared FAST. And worse, the ordering process was always a pain!{% endblocktrans %}</p>
                            <a href="{% url "public:story" %}" class="secondary-button">{% blocktrans %}Learn More{% endblocktrans %}</a>
                        </div>  
                    </div>              
                </div>
            </div>
        </section>
        <section class="pt-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-7 padding-none" style="z-index: 10">
                        <img src="{% static "public/img/breakdown.png" %}">
                    </div>
                    <!-- First Icon -->
                    <div class="col-sm-5">
                        <div class="col-sm-2">
                            <div class="line-indicator"></div>
                            <img src="{% static "public/img/icons/bun.png" %}">
                        </div>
                        <div class="col-sm-8">
                            <p>{% blocktrans %}Our buns are put on a grill for 20 seconds before serving for better taste{% endblocktrans %}</p>
                        </div>
                    </div>
                    <!-- Second Icon -->
                    <section class="col-sm-5">
                        <div class="col-sm-2">
                            <div class="line-indicator"></div>
                            <img src="{% static "public/img/icons/spice.png" %}">
                        </div>
                        <div class="col-sm-8">
                            <p>{% blocktrans %}There are 10 different herbs and spices in our beef and chicken patty{% endblocktrans %}</p>
                        </div>
                    </section>
                    <!-- Second Icon -->
                    <div class="col-sm-5">
                        <div class="col-sm-2">
                            <img src="{% static "public/img/icons/combination.png" %}">
                        </div>
                        <div class="col-sm-8">
                            <p>{% blocktrans %}Choose one of the 1,680 combinations to build your own signature burger.{% endblocktrans %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        

        <!-- Frikadell-Team -->
        <section class="introduction map">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                            <div class="row box--white">  
                                <h1>{% blocktrans %}We're Expanding{% endblocktrans %}</h1>  
                                <p>{% blocktrans %}We’re burger freaks, and we couldn’t find a good homemade burger ANYWHERE, one with a crunchy bun, our choice of sauces and prepared FAST.{% endblocktrans %}</p>
                                <a href="{% url "public:careers" %}" class="tertiary-button">{% blocktrans %}Employment{% endblocktrans %}</a>
                                <a href="{% url "public:contact" %}" class="tertiary-button">{% blocktrans %}Franchise{% endblocktrans %}</a>
                        </div>
                    </div>              
                </div>
            </div>
        </section>
        <!-- Download App -->
        <section class="introduction friadell-phone">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 pull-right">
                            <div class="row">  
                                <div class="paragraph">
                                    <h1>{% blocktrans %}Let your fingers do the talking! {% endblocktrans %}</h1>  
                                    <p>{% blocktrans %}Our ordering system works with the Frikadell App, available in Frikadell locations and on your mobile device!{% endblocktrans %}</p>
                                    <a href="https://play.google.com/store/apps/details?id=io.noxel.customer" class="secondary-button">{% blocktrans %}Android{% endblocktrans %}</a>
                                    <a href="{% url "public:story" %}" class="secondary-button">{% blocktrans %}iOS{% endblocktrans %}</a>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </section>
    </main>
{% endblock %}