{% extends "public/base.html" %}
{% load i18n %}

{% block title %}{% trans "locations"|title %}{% endblock %}

{% block content %}
    <main class="full-shot">
        <div class="cd-section index cd-selected">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="">
                            <div class="mt-3">
                                <div class="">
                                    <form action="{% url "public:locations" %}" method="get" class="search mt-1">
                                        <input type="text" name="q"
                                               placeholder="{% trans "search for a location"|capfirst %}">
                                        <button type="button" class="tertiary-button">{% trans "submit"|title %}</button>
                                    </form>
                                    <div class="show-when">
                                        <div class="locations">
                                            <hr class="mt-3">
                                            <ul>
                                                <li>
                                                    <span class="title">
                                                        {% if request.LANGUAGE_CODE == 'en' %}
                                                        {% blocktrans count count=branches|length %}One location{% plural %}{{ count }} locations{% endblocktrans %} :</span>
                                                        {% else %}
                                                            {{ branches|length }} مکان:
                                                        {% endif %}
                                                    {% for branch in branches %}
                                                        <div class="info">
                                                            <div>
                                                                <div>
                                                                    <address{% if not branch.available %} class="branch-not-available"{% endif %}>{{ branch.address|escape }}
                                                                    <div class="phone">{{ branch.phone|escape }}</div>
                                                                    
                                                                    <p>

                                                                        <small>{{ branch.hours|escape }}</small>
                                                                        /
                                                                        <small style="font-weight: bold;">{{ branch.services|escape }}</small>
                                                                    </p>
                                                                    </address>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6 pull-right">
                        <div class="row">
                            <div class="box map-box" id="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE2hN2Lbec5XY5ETk9jAz54OFBkJ-1_Go&callback=initMap"
            type="text/javascript"></script>
    <script type="text/javascript">
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: {{ zoom }},

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng({{ center.0 }}, {{ center.1 }}), // New York

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{
                    "featureType": "administrative.land_parcel",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "landscape.man_made",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "poi",
                    "elementType": "labels",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "road",
                    "elementType": "labels",
                    "stylers": [{"visibility": "simplified"}, {"lightness": 20}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "geometry",
                    "stylers": [{"hue": "#f49935"}]
                }, {
                    "featureType": "road.highway",
                    "elementType": "labels",
                    "stylers": [{"visibility": "simplified"}]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "geometry",
                    "stylers": [{"hue": "#fad959"}]
                }, {
                    "featureType": "road.arterial",
                    "elementType": "labels",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "geometry",
                    "stylers": [{"visibility": "simplified"}]
                }, {
                    "featureType": "road.local",
                    "elementType": "labels",
                    "stylers": [{"visibility": "simplified"}]
                }, {
                    "featureType": "transit",
                    "elementType": "all",
                    "stylers": [{"visibility": "off"}]
                }, {
                    "featureType": "water",
                    "elementType": "all",
                    "stylers": [{"hue": "#a1cdfc"}, {"saturation": 30}, {"lightness": 49}]
                }]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            {% for location in locations %}
                var marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ location.0 }}, {{ location.1 }}),
                    map: map,
                    title: 'Snazzy!'
                });
            {% endfor %}
        }
    </script>
{% endblock %}